<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multumim pentru feedback!</title>
</head>
<body>
    <div>
        <h3>Salut, {{nume}} {{prenume}}!</h3>
        <p>Feedback-ul tau a fost trimis cu succes si va fi analizat de catre specialistii nostri.</p>
        <p>Multumim pentru timpul acordat!</p>
        <p>Echipa <b>OptiDora.</b></p>
    </div>
</body>
</html>