<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bun venit la OptiDora!</title>
</head>
<body>
    <div>
        <h3>Salut, {{nume}} {{prenume}}!</h3>
        <h4>Bun venit la Optidora!</h4>
        <p>Vei primi emailuri prin care te vom tine la curent cu toate ofertele si promotiile noastre.</p>
        <p>Echipa <b>OptiDora.</b></p>
    </div>
</body>
</html>